{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="article-metadata">
            <img class="rounded-circle student-img" src="{{ student.user.profile.image.url }}">
            <a class="mr-2" href="#">{{ student.user.last_name }} {{ student.user.first_name }}</a>
            <small class="text-muted">{{ student.field_of_study }}</small>
        </div>
<!--            <h2><a class="article-title" href="#"></a></h2>-->

      </div>
        <p class="article-content">{{ student.about }}</p>
      <!-- FORM HERE -->
        {% if request.user.id != student.user.id %}
        <a class="btn btn-primary" id="start-chat" href="
        {% if user.is_authenticated %}{% url 'start_chat' student_id=student.user.id user_id=request.user.id %}{% else %}
        {% url 'login' %}{% endif %}">
            Написать сообщение
        </a>
        {% endif %}
    </div>
{% endblock content %}

<!--{% block scripts %}-->

<!--{{ request.user.username|json_script:"json-username" }}-->
<!--{{ request.user.id|json_script:"json-user-id" }}-->
<!--{{ student.user.username|json_script:"json-student-username" }}-->


<!--&lt;!&ndash;<script src="{% static  'js/create_room.js' %}"></script>&ndash;&gt;-->

<!--{% endblock scripts %}-->