{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="article-metadata">
            <img class="rounded-circle student-img" src="{{ student.user.profile.image.url }}">
            <a class="mr-2" href="#">{{ student.user.last_name }} {{ student.user.first_name }}</a>
            <small class="text-muted">{{ student.field_of_study }}</small>
        </div>
<!--            <h2><a class="article-title" href="#"></a></h2>-->

      </div>
        <p class="article-content">{{ student.about }}</p>
      <!-- FORM HERE -->
    </div>
{% endblock content %}