{% extends 'main.html' %}

{% block content %}
    <h3>О проекте</h3>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
                Добро пожаловать на нашу страницу "О нас"!

                Мы - команда студентов и абитуриентов, которые верят в силу общения и обмена знаниями. Наш проект создан с целью установления связей между студентами и абитуриентами, чтобы делиться опытом, помогать друг другу и создавать вдохновляющее образовательное сообщество.

                Здесь вы найдете место для общения, задавая вопросы, находя поддержку и наставничество. Мы стремимся к тому, чтобы каждый, кто присоединяется к нашему проекту, чувствовал себя частью нашей дружной семьи, где вместе мы растем и развиваемся.

                Присоединяйтесь к нам и помогите нам создать пространство, где каждый может найти поддержку и вдохновение для своего образовательного путешествия!
            </p>
          </div>
        </article>
{% endblock content %}