{% load crispy_forms_tags %}

<div class="col-md-4">
  <div class="content-section">

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne"></button></h2>
        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show">
          <div class="accordion-body">
              <a class="btn" href="{% if user.is_authenticated %}{% url 'list_rooms' user_id=user.id %}
                                    {% else %}{% url 'login' %}{% endif %}">Перейти к сообщениям</a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne"></button></h2>
        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show">
          <div class="accordion-body">

          </div>
        </div>
      </div>
    </div>
<!--    <h3></h3>-->
<!--    <p class='text-muted'>-->
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item list-group-item-light"></li>-->
<!--        <li class="list-group-item list-group-item-light"></li>-->
<!--        <li class="list-group-item list-group-item-light"></li>-->
<!--        <li class="list-group-item list-group-item-light"></li>-->
<!--      </ul>-->
<!--    </p>-->
  </div>
</div>